/* Developed by Jozek Andrzej Hajduk Sánchez */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

main {
    width: 100vw;
    height: 100vh;
}

.container-movies h1 {
    text-transform: uppercase;
}

.container-movies {
    width: 90vw;
    height: 90vh;
    display: grid;
    gap: 1rem;
    grid-template: repeat(3, 1fr) / 100%;
    /* background-color: aquamarine; */
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 2rem;
    padding-right: 0;
}

.movie-list {
    width: 100%;
    /* background-color: bisque; */
    /* border: 0.1rem solid black; */
    display: grid;
    grid-auto-flow: column;
    grid-template: auto 1fr / auto;
    overflow: hidden;
    gap: 0.3rem;
}

.movie-list:hover{
    overflow-x: scroll;
}

.container-movies .movie-list .title {
    font-size: 2rem;
    font-weight: bold;
    grid-column: 1 / -1;
    position: fixed;
}

.container-movies .movie-list .movie {
    /* background-color: red; */
    width: 40rem;
    height: 18rem;
    grid-row: 2 / 3;
    align-self: flex-end;
    border-radius: 0.8rem;
    position: relative;
    margin-bottom: .3rem;
}

.container-movies .movie-list .movie:first-of-type {
    margin-left: .3rem;
}

.container-movies .movie-list .movie-image {
    width: 100%;
    height: 100%;
    border-radius: 0.8rem;
}

.container-movies .movie-list .movie-image img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.container-movies .movie-list .movie-overlay {
    width: 100%;
    height: 50%;
    position: absolute;
    background-color: transparent;
    bottom: 0;
    padding: 1rem;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    color: transparent;
    display: block;
    text-align: justify;
}

.container-movies .movie-list .movie-overlay:hover {
    background-color: rgba(15, 28, 92, 0.5);
    color: white;
}


.container-movies .movie-list .movie-overlay h1 {
    margin-bottom: .4em;
    font-size: 2em;
}

.container-movies .movie-list .movie-overlay p {
    font-size: 1em;
}

/* Camino que recorre el scrollbar */
.container-movies .movie-list::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(27, 49, 121, 1);
	border-radius: 10px;
	background-color: #F5F5F5;
}

/* Diseño externo del scrollbar */
.container-movies .movie-list::-webkit-scrollbar {
    /* width: 6px; */
    height: .7rem;
	background-color: #ffffff;
}

/* Diseño interno del scrollbar */
.container-movies .movie-list::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 .2rem rgb(0, 0, 0);
	background-color: #ffffff;
}