/* Developed by Jozek Andrzej Hajduk Sánchez */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

main {
    width: 100vw;
    height: 100vh;
}

figure {
    width: 100%;
    height: auto;
    margin: 3rem auto;
}

.left-container {
    display: flex;
    width: 10vw;
    background-color: aquamarine;
    height: 100vh;
    flex-wrap: wrap;
    padding: 2rem;
}

.left-container-top, .left-container-bottom{
    width: 100%;
    height: 50%;
    background-color: aqua;
    display: flex;
    text-align: center;
}

.left-container-top {
    flex-direction: column;
}

.left-container-bottom {
    flex-direction: column-reverse;
}



