/* Developed by Jozek Andrzej Hajduk Sánchez */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Noto Sans JP', sans-serif;
}

body {
    /* width: 100vw; */
    height: 6vh;
    display: grid;
    grid-template: auto 1fr / 1fr;
    grid-template-areas:
        "header header"
        "container-movies container-movies";
    height: 100vh;
}

header {
    /* width: 100vw; */
    height: 6vh;
    background-color: #0e0a2b;
    grid-area: header;
}

main {
    /* width: 100vw; */
    height: 94vh;
    grid-area: container-movies;
    background-color: #0d0825;
}

.container-header {
    width: 100%;
    padding: 1rem 2rem;
    display: grid;
    grid-template: 1fr / 30% 50% 20%;
    align-items: center;
    min-width: 300px;
}

.container-header .container-logo {
    /* margin-left: 4rem; */
    justify-content: start;
    display: flex;
    align-items: center;
}

.container-header .container-logo .logo {
    width: 3rem;
    margin-right: 1rem;
}

.container-header .container-logo .logo img {
    width: 100%;
}

.container-header .container-logo span {
    font-size: 1.8rem;
    color: white;
}

.container-input {
    width: 30rem;
    /* min-width: 30rem; */
    height: auto;
    justify-self: flex-end;
    border: 0.1rem solid rgb(151, 151, 151);
    border-radius: 1rem;
    display: flex;
    background-color: white;
}

.container-input .input {
    margin-left: 1rem;
    width: 100%;
    outline: none;
    font-size: 1.3rem;
    font-family: 'Noto Sans JP', sans-serif;
    border: 0;
}

.container-input .button-search {
    margin: auto 1rem;
    cursor: not-allowed;
}

.menu-user {
    display: flex;
    justify-self: end;
    align-items: center;
    width: 100%;
}

.menu-user .info-user {
    width: 80%;
    font-size: 1.2rem;
    margin-right: 1rem;
    display: flex;
    align-items: center;
}

.menu-user .info-user span {
    margin-right: 1rem;
    width: 80%;
    text-align: right;
    color: white;
}

.menu-user .info-user img {
    border-radius: 50%;
    /* border: 0.1rem solid white; */
    width: 3rem;
    cursor: pointer;
}

.menu-user img {
    width: 1.3rem;
}

.container-movies {
    /* width: 90vw; */
    height: 91vh;
    display: grid;
    gap: 1rem;
    grid-template: repeat(3, 1fr) / 100%;
    /* background-color: aquamarine; */
    /* position: absolute; */
    /* bottom: 0;
    right: 0; */
    padding: 2rem 0 0 2rem;
    /* padding-right: 0; */
}

.container-movies .movie-list {
    width: 100%;
    /* background-color: bisque; */
    /* border: 0.1rem solid black; */
    display: grid;
    grid-auto-flow: column;
    grid-template: auto 1fr / auto;
    overflow: hidden;
    gap: 0.3rem;
}

.movie-list:hover{
    overflow-x: scroll;
}

.container-movies .movie-list .title {
    font-size: 1.7rem;
    font-weight: bold;
    grid-column: 1 / -1;
    position: fixed;
    border-left: 0.3rem solid red;
    padding-left: 1rem;
    color: white;
}

.container-movies .movie-list .movie {
    /* background-color: red; */
    width: 40rem;
    height: 22rem;
    grid-row: 2 / 3;
    align-self: flex-end;
    border-radius: 0.8rem;
    position: relative;
    margin-bottom: .3rem;
}

.container-movies .movie-list .movie:first-of-type {
    margin-left: .3rem;
}

.container-movies .movie-list .movie-image {
    width: 100%;
    height: 100%;
    border-radius: 0.8rem;
}

.container-movies .movie-list .movie-image img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.container-movies .movie-list .movie-overlay {
    width: 100%;
    height: 50%;
    position: absolute;
    background-color: transparent;
    bottom: 0;
    padding: 1rem;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    color: transparent;
    display: block;
    text-align: justify;
}

.container-movies .movie:hover {
    box-shadow: 1px -14px 21px -14px rgba(153, 153, 153, 0.78);
    align-self: center;
    /* margin-bottom: 1rem; */
}

.container-movies .movie-list .movie:hover .movie-overlay{
    background-color: rgba(15, 28, 92, 0.5);
    color: white;
}


.container-movies .movie-list .movie-overlay h1 {
    margin-bottom: .4em;
    font-size: 2em;
}

.container-movies .movie-list .movie-overlay p {
    font-size: 1em;
}

/* Camino que recorre el scrollbar */
.container-movies .movie-list::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(27, 49, 121, 1);
	border-radius: 10px;
	background-color: #0d0825;
}

/* Diseño externo del scrollbar */
.container-movies .movie-list::-webkit-scrollbar {
    /* width: 6px; */
    height: .7rem;
    background-color: #0d0825;
    border: 0;
}

/* Diseño interno del scrollbar */
.container-movies .movie-list::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 .2rem rgb(0, 0, 0);
	background-color: #ffffff;
}

.left-container {
    display: flex;
    width: 10vw;
    background-color: #0c082e;
    height: 100vh;
    flex-wrap: wrap;
    padding: 2rem;
}

.left-container figure {
    width: 100%;
    height: auto;
    margin: 3rem auto;
    margin-bottom: 0;
}

.left-container img {
    width: 3rem;
}

.left-container-top, .left-container-bottom{
    width: 100%;
    height: 50%;
    display: flex;
    text-align: center;
}

.left-container-top {
    flex-direction: column;
}

.left-container-bottom {
    flex-direction: column-reverse;
}

.left-container .left-container-bottom figure {
    margin-bottom: 3rem;
}
